<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hola Mundo en Vue</title>
</head>
<body>

  <div id="app">
    <h2>Variables</h2>
    <h3>{{message}}</h3>
    <blockquote>- {{author}}</blockquote>

    <button v-on:click="changeMessage">Cambiar mensaje</button>

    <hr>

    <h2>Iterar elementos</h2>
    <h5>Batman quotes</h5>
    <button v-on:click="toggleAuthor">Toggle author</button>
    <ul>
      <li v-for="({quote, author}, index) in quotes">
        <span>{{index + 1}} - {{quote}}</span>
        <blockquote v-if="showAuthor">- {{author}}</blockquote>
      </li>
    </ul>
  </div>

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="app.js"></script>
</body>
</html>